<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width" initialscale="1">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">
    <title>todo list </title>
</head>

<body>
        <nav class=" navbar navbar-default " id="navigation">
            <div class="container-fluid">
            <div class="navbar-header ">
                To DO App
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#drop" aria-expanded="false"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div class="navbar-collapse navbar-right collapse" id="drop" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav nav nav-tabs  ">
                <li><a href="todo.ejs">Home</a></li>
                <li class="active"><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            </div>
            </div>
        </nav>
    <div class="container-fluid">
        <div class="jumbotron " style="text-align:left">
            <h1> About</h1>
            <h2>to do app</h2>
            <div class="container-fluid">
            <p>to do app that makes a list of all the work you want to do you can add the activity and delete the one you don't feel like doing or entered by mistake .
            </p>
            <p>
            powered by node database monogo db .
                </p></div>

        </div></div>
        <div class="nav navbar-nav navbar-fixed-bottom">
            <footer> Made By Aayush Tiwari </footer>
        </div>

<script src="jquery-3.1.1.min.js"></script>
<script src="todo-list.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body></html>
